node_modules
.env
.DS_Store
server/serviceAccountKey.json
/server/uploads
project.xml
client.txt
client.xml
repomix.config.json
.repomixignore
server/logs
/server/logs
/server/logs
.vercel
*.xml
.aider*
