node_modules
.env
.DS_Store
server/serviceAccountKey.json
/server/uploads
repomix-output.txt
client.txt
server.txt
repomix.config.json
.repomixignore
server/config/production.json
server/logs
/server/logs
/server/logs
